
body {
    background: linear-gradient(135deg, #f7d6e0, #f0e3f0);
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #333;
}

header, main, footer {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

header h1 {
    margin-top: 50px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

main figure {
    margin-top: 30px;
}

main figure img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

footer {
    margin-top: 50px;
    padding: 20px 0;
    background-color: #ccc;
}



.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
    text-align: center;
    color: #007bff;
}
h2{
    text-align: center;
}
p {
    line-height: 1.6;
    margin-bottom: 15px;
}

.back-link {
    display: block;
    text-align: center;
    margin-top: 20px;
}